<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/jquery/plugins/jquery.cookie.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
   
    <script>
        $(document).ready(function(){

            var data = {
                query : '밀즈앤모어',
                display : 10,
                start : 1,
                sort : 'random'
            }

            var headers = {
                'X-Naver-Client-Id' : 'xAE6EDvfAifDpjpPKlaL',
               'X-Naver-Client-Secret' : 'qRbN6y9JxO'
            }

            $.ajax({
                type : "GET",
                url : 'https://openapi.naver.com/v1/search/local.json',
                dataType : 'JSON',
                data : data,
                headers : headers,
                success : function(json) {
                    console.log(json);
                },
                error: function(json) {
                    console.log(json);
                }
            })

        })

    </script>
</head>

<body>
    <div class="contain">
        lal

    </div>
</body>
</html>